<div>
    <h1>Weeks!</h1>
    <%= flash[:notice] %>
    <%= button_to "Start New Week", weeks_add_path   %>
    <% @weeks.each do |week|%>
    <%= week.range %>
    <table>
        
        <tr>
            <% week.days.each do |day|%>
            <th><%=day.day%></th>
            <%end%>
            <th>Total Volume</th>
        </tr>
        <tr>
            <% week.days.each do |day|%>
            <th>Add your workout!</th>
            <%end%>
            <th>Total Volume</th>
        </tr>
    </table>
    <%end%>

</div>